<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FlightBooker</h1>
    <p>
      You have successfully booked a flight from <%= @booking.flight.origin_airport %> to <%= @booking.flight.destination_airport %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
